<div class="header-container">
  <header class="header">
    <!-- Navigation with hamburger for small screens -->
    <nav class="navigation" aria-label="Primary">
      <button class="hamburger" aria-label="Menu" (click)="toggleMenu()">
        <span></span><span></span><span></span>
      </button>

      <!-- Desktop navigation -->
      <ul class="desktop-nav">
        @for(item of navItems; track item.label) {
        <li>
          <!-- Event binding for user interactions -->
          <a class="link" [routerLink]="[item.link]" routerLinkActive="active">{{ item.label }}</a>
        </li>
        }
        <li class="auth-controls">
          @if (isAuthenticated()) {
          <a class="link" (click)="logout()" routerLinkActive="active">Logout</a>
          } @else {
          <a class="link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
          }
        </li>
        @if (isAuthenticated() && isAdmin()) {
        <li>
          <a class="link" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
        </li>
        }
        <ul class="socials">
          @for(social of socialLinks; track social.name) {
          <li>
            <a class="social" [href]="social.url" [attr.aria-label]="social.ariaLabel" target="_blank"
              rel="noopener noreferrer">
              <img [src]="social.icon" [alt]="social.name" width="40" />
            </a>
          </li>
          }
        </ul>
      </ul>
    </nav>

    <!-- String interpolation for dynmic data -->
    <div class="header-content">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>

    <!-- Mobile sidebar modal -->
    @if (isMenuOpen) {
    <div class="backdrop" (click)="toggleMenu()"></div>
    }
    <div class="sidebar" [class.open]="isMenuOpen">
      <button class="close-btn" (click)="toggleMenu()">×</button>
      <ul class="mobile-nav">
        @for(item of navItems; track item.label) {
        <li>
          <a class="link" [routerLink]="[item.link]" routerLinkActive="active" (click)="toggleMenu()">{{ item.label
            }}</a>
        </li>
        }
        <li class="auth-controls">
          @if (isAuthenticated()) {
          <a class="link" (click)="logout(); toggleMenu()" routerLinkActive="active">Logout</a>
          } @else {
          <a class="link" [routerLink]="['/login']" routerLinkActive="active" (click)="toggleMenu()">Login</a>
          }
        </li>
        @if (isAuthenticated() && isAdmin()) {
        <li>
          <a class="link" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
        </li>
        }
        <li class="socials">
          @for(social of socialLinks; track social.name) {
          <a class="social" [href]="social.url" [attr.aria-label]="social.ariaLabel" target="_blank"
            rel="noopener noreferrer">
            <img [src]="social.icon" [alt]="social.name" width="40" />
          </a>
          }
        </li>
      </ul>
    </div>
  </header>
</div>
